*,
html,
body {
  font-family: "Roboto";
}

body,
main {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-top: 5em;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-thumb {
  background-color: #67000d;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #020a18;
}

.tela-1 {
  background-color: #020a18;
  width: 100%;
  height: 90vh;
}

.div-tela-1 {
  padding: 3em 0 0 5em;
  color: white;
}

.slogan {
  font-size: 3em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-top: 1em;
}

.slogan-texto {
  font-weight: 300;
  line-height: 1.5em;
}

.cor1 {
  color: #e6808c;
  font-size: 1.2em;
}

.tela-1-btn {
  background-color: #cd001a;
  border: 5px solid #020a18;
  padding: 0.8em;
  font-size: 1em;
  width: 12em;
  color: white;
  border-radius: 4px;
  margin-top: 1em;
  box-shadow: 0px 0px 0px 1px #161d28;
}

.tela-1-btn:hover {
  background-color: #9b0519;
  cursor: pointer;
}

.text-marcas {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 6.5em;
}

.marcas img {
  margin-right: 3.5em;
}
